@import '../Assets/Forgetpassword.scss';

.forget-body{
    display: flex;
    height: 80%;
    width: 24%;
    border-radius: 8px;
    margin: 90px auto;
    align-items: $alignment;
    justify-content: $alignment;
    border: 1px solid $grey;
    padding: 10px 36px;

    &__main{
        width: 95%;
        height: 90%;
        align-items: $alignment;
        justify-content: $alignment;
        display: block;
        flex-direction: column;

        &__logo {
            justify-content: start;
            height: 32px;
            align-items: $alignment;
            font-size: 25px;
            font-weight: initial;
            margin: 0px;
        }

        &__heading{
            color: $black;
            font-family: $font;
            font-size: 24px;
            font-weight: 400;
            line-height: 1.3333;
            padding-top: 18px;
            margin-top: 0px;
        }

        &__title{
            color: $black;
            font-family: $font;
            color: $black;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0.1px;
            line-height: 1.5;
        }
        &__container{
            padding: 20px 0px 10px 0px; 
        }

        &__button{
            display: flex;
            justify-content: end;
            padding-top: 20px;
            width: 100%;
            padding-bottom: 134px;
        
        }
    }
}

@media (max-width:700px) {
    .forget-body{
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    
}